- Advanced:
    CrappyAEC: n
    InputDeviceId: '0'
    InputLevelControlName: Mic
    LogLevel: d
    LLM:
      UseRemote: n
    NLP:
      UseRemote: n
    OutputDeviceName: ''
    OutputLevelControlName: Speaker
    Platform: u
    STT:
      UseRemote: n
    TTS:
      Local: p
      Remote: p
      UseRemote: n
      LocalVoice: en_US-hfc_male-medium
  Basic:
    AWSId: ''
    AWSKey: ''
    BaseDir: {{BASE_DIR}}
    GoogleApiKeyPath: install/my_google_key.json
    Hub: localhost
    HubModel: base.en
    LLMFile: 'Qwen3.5-2B-Q6_K.gguf'
    LLMRepo: 'unsloth/Qwen3.5-2B-GGUF'
    SpokeModel: tiny.en
    MusicDir:
    WakeWords:
    - 'computer'
    - 'internet'
    RoomToHost:
      # Examples:
      # bedroom: 192.168.4.50
      # living room: 192.168.4.40
      # kitchen: 192.168.4.42
