- Advanced:
    AWSId: ''
    AWSKey: ''
    CrappyAEC: n
    GoogleApiKeyPath: install/my_google_key.json
    InputDeviceId: '0'
    InputLevelControlName: Mic
    LogLevel: d
- Basic:
    BaseDir: {{BASE_DIR}}
    Hub: localhost
    LLM:
      UseRemote: n
    LLMFile: 'Qwen3.5-2B-Q6_K.gguf'
    LLMRepo: 'unsloth/Qwen3.5-2B-GGUF'
    MusicDir:
    NLP:
      UseRemote: n
    OutputDeviceName: ''
    OutputLevelControlName: Speaker
    Platform: u
    RoomToHost:
      # Examples:
      # bedroom: 192.168.4.50
      # living room: 192.168.4.40
      # kitchen: 192.168.4.42
    STT:
      Model: base.en
      UseRemote: n
    TTS:
      Local: p
      LocalVoice: en_US-hfc_male-medium
      Remote: p
      UseRemote: n
    WakeWords:
    - 'computer'
    - 'internet'
