[Unit]
Description=Piper Text-to-Speech Server
After=network.target

[Service]
ExecStart={{BASE_DIR}}/minimy_venv/bin/python3 {{BASE_DIR}}/framework/services/tts/local/piper.py
WorkingDirectory={{BASE_DIR}}/framework/services/tts/local
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH={{BASE_DIR}}:$PYTHONPATH
Environment=SVA_BASE_DIR={{BASE_DIR}}
StandardOutput=append:{{BASE_DIR}}/logs/tts.log
StandardError=append:{{BASE_DIR}}/logs/tts.log

[Install]
WantedBy=default.target
