PyAudio
PyYAML
boto3[crt]
google-cloud-speech
gpiozero
hypercorn
inflect
keyboard
lingua-franca
piper-plus==1.13.0
psutil
pytube
pytz
requests
scikit-learn
scipy
textual>=0.60
webrtcvad-wheels
websocket-client
websockets
youtube-search
youtube-search-python
yt-dlp
