PyAudio
PyYAML
boto3[crt]
datasets
gpiozero
google-cloud-speech
hypercorn
inflect
keyboard
lingua-franca
psutil
pytube
pytz
quart
redis
requests
scipy
webrtcvad-wheels
websocket-client
websockets
youtube-search
youtube-search-python
yt-dlp
