PyAudio
PyYAML
boto3[crt]
google-cloud-speech
gpiozero
hypercorn
inflect
keyboard
lingua-franca
psutil
pytube
pytz
requests
scipy
webrtcvad-wheels
websocket-client
websockets
youtube-search
youtube-search-python
yt-dlp
