[Unit]
Description=Whisper Speech-to-Text Server
After=network.target

[Service]
ExecStart=/home/pi/minimy/minimy_venv/bin/python3 /home/pi/minimy/framework/services/stt/local/whisper/local_whisper.py
WorkingDirectory=/home/pi/minimy/framework/services/stt/local/whisper
User=pi
Group=pi
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/home/pi/minimy/logs/whisper.log
StandardError=append:/home/pi/minimy/logs/whisper.log

[Install]
WantedBy=multi-user.target

